<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>armv7</key>
		<true/>
	</dict>
	<key>appleId</key>
	<string>296050642@qq.com</string>
	<key>artistId</key>
	<integer>651323848</integer>
	<key>artistName</key>
	<string>suanya .cn</string>
	<key>bundleShortVersionString</key>
	<string>7.3.5</string>
	<key>bundleVersion</key>
	<string>7350</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountStoreFront</key>
			<string>143465-19,32</string>
			<key>AppleID</key>
			<string>296050642@qq.com</string>
			<key>DSPersonID</key>
			<integer>8465052576</integer>
			<key>DownloaderID</key>
			<integer>0</integer>
			<key>FamilyID</key>
			<integer>0</integer>
			<key>FirstName</key>
			<string>腾</string>
			<key>LastName</key>
			<string>张</string>
			<key>PurchaserID</key>
			<integer>8465052576</integer>
			<key>UserName</key>
			<string>张腾</string>
		</dict>
		<key>purchaseDate</key>
		<string>2015-12-28T00:42:14Z</string>
	</dict>
	<key>copyright</key>
	<string>© 2013 li jian</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>旅游</string>
	<key>genreId</key>
	<integer>6003</integer>
	<key>is-purchased-redownload</key>
	<true/>
	<key>itemId</key>
	<integer>651323845</integer>
	<key>itemName</key>
	<string>智行火车票 for 12306、火车票、高铁自动抢票</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>suanya .cn</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2015-12-28T00:42:14Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.GAMBLING_CONTESTS and Advisory.NO.UNRESTRICTED_WEB_ACCESS</string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2013-06-07T02:01:46Z</string>
	<key>s</key>
	<integer>143465</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a280.phobos.apple.com/us/r30/Purple111/v4/b5/2f/eb/b52feb67-78a4-4205-3885-ba2f5c61600b/icon114x114.jpeg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>cn.suanya.zhixingHC</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>820264557</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>15443987</integer>
		<integer>15623672</integer>
		<integer>16579433</integer>
		<integer>27452636</integer>
		<integer>81603014</integer>
		<integer>597022802</integer>
		<integer>622656489</integer>
		<integer>653542653</integer>
		<integer>690943373</integer>
		<integer>700192719</integer>
		<integer>717752964</integer>
		<integer>811033410</integer>
		<integer>811480233</integer>
		<integer>811567336</integer>
		<integer>812047004</integer>
		<integer>812192264</integer>
		<integer>812809209</integer>
		<integer>813155237</integer>
		<integer>813561956</integer>
		<integer>813590782</integer>
		<integer>813648438</integer>
		<integer>813759854</integer>
		<integer>814194304</integer>
		<integer>814463135</integer>
		<integer>814517402</integer>
		<integer>814610671</integer>
		<integer>814612199</integer>
		<integer>814794725</integer>
		<integer>816755972</integer>
		<integer>816842365</integer>
		<integer>817122750</integer>
		<integer>817783998</integer>
		<integer>817812955</integer>
		<integer>817873109</integer>
		<integer>817948182</integer>
		<integer>818263217</integer>
		<integer>818362703</integer>
		<integer>819402465</integer>
		<integer>820037731</integer>
		<integer>820264557</integer>
		<integer>821569822</integer>
		<integer>822361765</integer>
		<integer>822703754</integer>
		<integer>822865322</integer>
	</array>
	<key>storeCohort</key>
	<string>3|date=1451262600000&amp;sf=143465</string>
	<key>userName</key>
	<string>张腾</string>
	<key>vendorId</key>
	<integer>2073762</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
